:root {
  --font-zen-old-mincho: 'Zen Old Mincho', serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-zen-old-mincho);
  background-color: #ffffff;
  color: #2c2c2c;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}
